extends ./root.pug

block head
  meta(property='og:type' content='website')
  meta(property='og:title' content='Trump Taxes')
  //- meta(property='og:image' content='http://cdn.calm.com/images/og-meta/homepage.png')
  meta(property='og:url' content='http://trump-taxes.com')
  meta(property='og:description' content='A simple website that will show you how the new House and Senate tax bills will impact you')
  
  meta(property='twitter:card' content='summary_large_image')
  meta(property='twitter:title' content='Trump Taxes')
  //- meta(property='twitter:image' content='http://cdn.calm.com/images/og-meta/homepage.png')
  meta(property='twitter:description' content='A simple website that will show you how the new House and Senate tax bills will impact you')
